@{
    ViewData["Title"] = "Order";
}

<div class="container border">
    <h3>View Order</h3>
    <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="load_addform()">
        Order Now
    </button>
    <h3>View Total Orders</h3>
    <div id="order_list"></div>
    <h3>View Order by Specific Users</h3><br />
 
    <input type="text" placeholder="Search with User Name or Email" id="txt_search" class="form-control" style="width:400px;" name="search_by_username" />

    <input type="text" placeholder="Search with Order Details" id="txt_detail_search" class="form-control my-3" style="width:400px;" name="search_by_detail" />
    <button class="my-3 btn btn-primary" type="submit" onclick="search()"> Search </button>

    <div class="mb-5" id="order_list_by_user"></div>
    <h3>View Order by Users (Separated)</h3>
    <div class="mb-5" id="order_list_by_separated_user"></div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="formholder"></div>
        </div>

    </div>
</div>

<div id="modal_delete" class="modal fade" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_title_info">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold" id="delete_body_title_info">Are you sure to delete?</h6>
                <p id="delete_body_info">If you are sure to delete this, click 'Delete' and note that it is irreversible in action.</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Close</button>
                <button type="button" id="btn_delete" onclick="deleteEntity(this)" data-action="" data-id="" data-info-id="" data-modal-id="" class="btn btn-primary legitRipple">Delete</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var page = 1,
            pageSize = 5,
            sortVal = "ID",
            sortDir = "asc",
            q = "",
            detail = "";


        $(function () {
            getList();
            initPaging("#order_list", getList)

            getListByUser();
            initPaging("#order_list_by_user", getListByUser)

            getListBySeparatedUser();
            initPaging("#order_list_by_separated_user", getListBySeparatedUser)
        })

        function search(){
            q = $('#txt_search').val();
            detail = $("#txt_detail_search").val();
            page = 1;
            getListByUser();
        }
     

        function getList() {
            $.ajax({
                cache: false,
                url: '/order/_orderlist',
                data: {
                    page: page,
                    pageSize: pageSize,
                    sortVal: sortVal,
                    sortDir: sortDir,
                    q: q
                },
                beforeSend: function () {

                },
                success: function (result) {
                    $('#order_list').empty().append(result);
                },
                complete: function () {

                }
            });
        }

        function getListByUser() {
            $.ajax({
                cache: false,
                url: '/order/_orderlistbyuser',
                data: {
                    page: page,
                    pageSize: pageSize,
                    sortVal: sortVal,
                    sortDir: sortDir,
                    q: q,
                    detail: detail
                },
                beforeSend: function () {

                },
                success: function (result) {
                    $("#order_list_by_user").empty().append(result);
                },
                complete: function () {

                }
            });
        }
        function getListBySeparatedUser(){
            $.ajax({
                cache: false,
                url: '/order/_orderViewByUserSeparated',
                data:{
                    page: page,
                    pageSize: pageSize
                },
                beforeSend: function(){

                },
                success: function(result){
                    $("#order_list_by_separated_user").empty().append(result);
                },
                complete: function(){

                }
            });
        }

        function initPaging(div, callback) {
            $(div).on("click", ".pagedList a", function (e) {
                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                callback();
            });
        }


        function load_addform() {
            form("Add", 0)
        }

        function load_editform(e) {
            var ID = $(e).attr('data-id');
            form("Edit", ID)
        }

        function form(formtype, ID) {
            popup_modalform(formtype, ID, '#exampleModal',
                '#formholder', "../order/_orderform", form_submit)
        }

        function popup_modalform(formtype, ID, modal, formholder, url, callback) {
            $.ajax({
                cache: false,
                url: url,
                data: { FormType: formtype, ID: ID },
                beforeSend: function () {

                    showmodal(modal)
                },
                success: function (result) {
                    $(formholder).empty().append(result);
                    callback();

                },
                complete: function () { }
            });
        }


        function form_submit() {
            getUserList();
            $('#orderForm').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    cache: false,
                    url: "../order/UpSert",
                    type: "Post",
                    data: $(this).serialize(),
                    beforeSend: function () {
                        $('.btn').prop("disabled", true);
                    },
                    success: function (myData) {
                        getList();
                        getListByUser();
                        getListBySeparatedUser();
                    },
                    complete: function () {
                        hidemodal("#exampleModal");
                        $('.btn').prop("disabled", false);
                    }
                });

            });
        }


        function deleteconfirmation(e) {
            var modal = $('#modal_delete');
            var btn_delete = $('#btn_delete');
            btn_delete.data('action', $(e).attr('data-action'));
            btn_delete.data('modal-id', $(e).attr('data-modalid'));
            btn_delete.data('id', $(e).attr('data-id'));
            btn_delete.data('info-id', $(e).attr('data-infoid'));
            modal.modal('show');

        }


        function deleteEntity(e) {
            var id = $(e).data('id');
            var action = $(e).data('action');
            var modalid = $(e).data('modal-id');
            var infoid = $(e).data('info-id');
            $.ajax({
                url: action,
                type: 'GET',
                data: { ID: id },
                beforeSend: function () {
                    $('.btn').prop('disabled', true);
                },
                success: function (response) {
                    if (response == "Success") {
                        console.log(infoid);
                        $('#' + infoid).remove();
                        $('#' + modalid).modal('hide');
                        getList();
                    }
                    else {

                    }
                    $('.btn').prop('disabled', false);
                }

            });
        }


        function getUserList() {
            $.ajax({
                cache: false,
                url: '/User/list',
                beforeSend: function () {

                },
                success: function (result) {
                    $("#user_dd").empty();
                    $("#user_dd").append(`<option value="">Select User</option>`);
                    for (var i = 0; i < result.length; i++) {

                        $("#user_dd").append(`<option value="${result[i].ID}">${result[i].Username}</option>`);
                    }
                },
                complete: function () {
                    var existingUser = $('#UserID').val();
                    $('#user_dd').val(existingUser);
                }
            });
        }

        function showmodal(div) {
            $(div).modal('show');
        }

        function hidemodal(div) {
            $(div).modal('hide');
        }
    </script>
}